.root {
    -fx-font-family: "Arial";
    -fx-background-color: #F4F4F4;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-padding: 15;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button:hover {
    -fx-background-color: #45a049;
}

.progress-bar {
    -fx-accent: #4CAF50;
}

.weather-icon {
    -fx-background-color: #ffffff;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.label-large {
    -fx-font-size: 48px;
    -fx-text-fill: #000000;
}

.label-description {
    -fx-font-size: 24px;
    -fx-text-fill: #666666;
}

.label-details {
    -fx-font-size: 18px;
    -fx-text-fill: #666666;
}
