.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f4f4f4;
}

.button {
    -fx-background-color: #008CBA;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #007B9A;
}

.label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-font-size: 14px;
}

.progress-bar {
    -fx-accent: #008CBA;
}
